<main class="main">
  <section class="preview_section" id="offer_section">
      <div class="items-center">
          <div class="imgShow product_tap" data-aos="zoom-in-right" data-aos-duration="1000">
              <mat-grid-list cols="3" rowHeight="188px" style="text-align: end;">
                  <mat-grid-tile [colspan]="1" [rowspan]="1" (click)="changelgImage(previewSm1)" (mouseenter)="changelgImage(previewSm1)">
                      <img src="{{previewSm1}}" class="preview_sm1">
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="2" [rowspan]="3">
                      <img src="{{previewlg}}" class="category_lg">
                      <button mat-icon-button class="banner_explore_button" (click)="addtoWishlist(productId)">
              <mat-icon>favorite_border</mat-icon>
            </button>

            <div *ngIf ="wishlistArray.length > 0">
                <div *ngFor="let wish of wishlistArray;let i = index">
                  <button mat-icon-button class="banner_explore_button wishListAdded " *ngIf ="wish.id === this.productId "
                  matRipple matRippleColor="green" (click)="alreadyAdded()">
                  <mat-icon>favorite_border</mat-icon>
                </button> 
                </div>
                  </div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1" (click)="changelgImage(previewSm2)" (mouseenter)="changelgImage(previewSm2)">
                      <img src="{{previewSm2}}" class="preview_sm1">
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="1" [rowspan]="1" (click)="changelgImage(previewSm3)" (mouseenter)="changelgImage(previewSm3)">
                      <img src="{{previewSm3}}" class="preview_sm1">
                  </mat-grid-tile>
              </mat-grid-list>
          </div>

          <!-- for mobile -->
          <div class="swiper_slider">
              <div class="category_lg">
                  <img src="{{previewlg}}" alt="preview-lg" class="preview_lg" data-aos="fade-down" data-aos-duration="1000">
                  <button mat-icon-button class="banner_explore_button" (click)="addtoWishlist(productId)">
                    <mat-icon>favorite_border</mat-icon>
                  </button>
      
                  <div *ngIf ="wishlistArray.length > 0">
                      <div *ngFor="let wish of wishlistArray;let i = index">
                        <button mat-icon-button class="banner_explore_button wishListAdded " *ngIf ="wish.id === this.productId "
                        matRipple matRippleColor="green" (click)="alreadyAdded()">
                        <mat-icon>favorite_border</mat-icon>
                      </button> 
                      </div>
                        </div>
              </div>
              <div class="thumb_images">
                  <img src="{{previewSm1}}" alt="preview-1" class="preview_sm1" (click)='changePreviewImage(previewSm1)' data-aos="fade-down" data-aos-duration="1000">
                  <img src="{{previewSm2}}" alt="preview-2" class="preview_sm1" (click)='changePreviewImage(previewSm2)'>
                  <img src="{{previewSm3}}" alt="preview-3" class="preview_sm1" (click)='changePreviewImage(previewSm3)' data-aos="fade-up" data-aos-duration="1000">
              </div>

          </div>

          <div class="imgdetails">
              <h1>{{productName}}</h1>
              <h2 *ngIf="productReview.length > 0 "> <i *ngFor="let key of counter(avgRating) " class="fa fa-star" style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
                  <i *ngFor="let key of counter(5-avgRating) " class="fa fa-star-o" style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
              </h2>
              <label *ngIf="productReview.length === 0" (click)="addReview()" class="noreview" >
              
              <button mat-button class="offer_explore_button"> Rate Product</button>
             No reviews yet
              </label>
              <div class="pricing">

                  <b class='item actualPrice' >{{offerPrice}}</b>
                  <span class='offer_price item'> {{productPrice}} </span>
                  <span class='offerPercentage item' >{{offerPercentage}}off</span>


              </div>
              <form [formGroup]="contactForm" (ngSubmit)='addtoCart()' >
                <div class="choose_color" *ngIf = "productOptions.length>0 && sizeList.length >0">
                    <span>Color: &nbsp; &nbsp;</span>
                      <mat-button-toggle-group class="choose_color" formControlName="color" >
                        <mat-button-toggle *ngFor="let color of productOptions" [style.background]="color['colorhash']"
                         (change)="changeColor(color['id'])" class="xxx" title="{{color['color'] }}" [value]="color['id']"></mat-button-toggle>
                        </mat-button-toggle-group>
                      <mat-error *ngIf="contactForm.controls['color'].hasError('required')">*Choose color to proceed </mat-error>

                </div>
   
                <div class="choose_size" *ngIf = "productOptions.length>0 && sizeList.length >0 ">
                    <span>Size:&nbsp;</span>
                    <mat-button-toggle-group formControlName="size">
                        <mat-button-toggle *ngFor="let size of sizeList" class="mat_toggle_buttton" [value]="size['id']" (change)="changeSize(size['id'])">
{{size.size}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <mat-error *ngIf="contactForm.controls['size'].hasError('required')">*Choose size to proceed</mat-error>
                </div>
                <div class="action_button">
                    <button mat-button type="submit" class="cart_button">{{cartButton}}</button>
                    <button mat-button type="button" (click)="gotoCheckout()" class="buy_button">BUY NOW</button>
                </div>
                </form>

              <mat-tab-group mat-align-tabs="start" class="product_tap">
                  <mat-tab label="ABOUT">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus amet tristique commodo nibh proin. Laoreet integer odio pretium semper posuere in purus </p>
                  </mat-tab>
                  <mat-tab label="STRUCTURE">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam faucibus amet tristique commodo nibh proin.

                      </p>
                  </mat-tab>
                  <mat-tab label="DELIVERY&PAYMENT">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nibh massa malesuada tristique posuere. Elementum augue amet adipiscing in massa nec vel massa in.</p>
                  </mat-tab>
              </mat-tab-group>
         
          </div>
      </div>
  </section>

  <section class="accordian_section">

      <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">


              <mat-expansion-panel-header>
                  <mat-panel-title class="filter_title"> About Product</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="filter_body matPanel">
                  <p>{{aboutProduct}}</p>
              </div>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">


              <mat-expansion-panel-header>
                  <mat-panel-title class="filter_title"> Structure</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="filter_body matPanel">
                  <p>{{aboutProduct}}</p>
              </div>
          </mat-expansion-panel>
  
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">


              <mat-expansion-panel-header>
                  <mat-panel-title class="filter_title"> Delivery & Payments</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="filter_body matPanel">
                  <p>{{aboutProduct}}</p>
              </div>
          </mat-expansion-panel>
      </mat-accordion>


  </section>

  <section class="review_section"  *ngIf="productReview.length > 0 ">

      <div class="align-items-center " style="text-align: center;">

          <div class='review_header'> Customer Reviews</div>

    <div>

          <h2> <i *ngFor="let key of counter(avgRating) " class="fa fa-star" style="color: var(--main-color);font-size:1.5rem; padding-right: 3px;"></i>
              <i *ngFor="let key of counter(5-avgRating) " class="fa fa-star-o" style="color: var(--main-color);font-size: 1.5rem; padding-right: 3px;"></i>
          </h2>
          <span>Based on {{noOfRating}} reviews</span>

          <div style="margin-top: 2em;" >

              <owl-carousel-o [options]="customOptions">

                  <ng-template carouselSlide *ngFor="let review of productReview ">

                      <mat-card>

                          <mat-card-title>{{review.customer.name}}</mat-card-title>
                          <mat-card-subtitle>
                              <i *ngFor="let key of counter(review.rating) " class="fa fa-star" style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
                              <i *ngFor="let key of counter(5-(review.rating)) " class="fa fa-star-o" style="color: var(--main-color);font-size: 16px; padding-right: 3px;"></i>
                          </mat-card-subtitle>

                          <mat-card-content>
                              <p>{{review.comment }}
                              </p>
                          </mat-card-content>

                      </mat-card>
                  </ng-template>

              </owl-carousel-o>
          </div>
          </div>
      </div>


  </section>


  <section class="suggestion_section">

      <div class="align-items-center">

          <div class="suggestion_header" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="700">You may also like</div>
          <div data-aos="fade-down-right" data-aos-duration="700">
              <owl-carousel-o [options]="suggestionOptions">
                  <ng-container *ngFor="let img of offerSale">
                      <ng-template carouselSlide let-owlItem class="offer_curousal_imgs">
                          <img src="{{img.image['original']}}" alt="{{img.alt}}" (click)="productPreview(img.id)">
                          <div class="offer_details">
                              <h4>{{img.name}}</h4>
                              <h4>{{img.price}}</h4>
                          </div>
                          <div style="display: flex;justify-content: center; align-items: baseline;">
                            <b class='items' *ngIf="currencyType === 'EUR' "> €{{img['OfferEuro']}}</b>
                            <b class='items' *ngIf="currencyType === 'USD' "> ${{img['OfferDollar'] }}</b>
                            <b class='items' *ngIf="currencyType === 'SAR' "> SAR{{img['OfferSAR']}} </b>
                            <b class='items' *ngIf="currencyType === 'GBP' ">£{{img['OfferSterling']}}</b>
                            <b class='item' *ngIf="currencyType === 'AED' ">د.إ{{img['OfferDirham']}}</b>
                            <span class='offer_price items' *ngIf="currencyType === 'EUR' "> €{{img['productpriceEuro']}} </span>
                            <span class='offer_price items' *ngIf="currencyType === 'USD' "> ${{img['productpriceDollar'] }}</span>
                            <span class='offer_price items' *ngIf="currencyType === 'SAR' "> SAR{{img['productpriceSAR']}} </span>
                            <span class='offer_price items' *ngIf="currencyType === 'GBP' "> £{{img['productpriceSterling']}}</span>
                            <span class='offer_price items' *ngIf="currencyType === 'AED' "> د.إ{{img['productpriceDirham']}}</span>

                            <span class='offer_percentage items '
                              *ngIf="currencyType === 'EUR' ">{{img['OfferPecentageEuro']}}off</span>
                            <span class='offer_percentage items '
                              *ngIf="currencyType === 'USD' ">{{img['OfferPecentageDollar']}}off</span>
                            <span class='offer_percentage items '
                              *ngIf="currencyType === 'SAR' ">{{img['OfferPecentageSAR']}}off</span>
                            <span class='offer_percentage items '
                              *ngIf="currencyType === 'GBP' ">{{img['OfferPecentageSterling']}}off</span>
                            <span class='offer_percentage items '
                              *ngIf="currencyType === 'AED' ">{{img['OfferPecentageDirham']}}off</span>
                          </div>
                      </ng-template>
                  </ng-container>

              </owl-carousel-o>
          </div>

      </div>


  </section>
</main>
