.mat-dialog-actions {
  justify-content: space-evenly;
}

.mat-dialog-title {
  font-family: poppins;
}

.confirm_button {
  color: var(--main-color);
}

::ng-deep.mat-simple-snackbar {
  color: green;
}

.mat-snack-bar-container {
  background-color: #ffffff;
}
