<main class="main">


  <section class="offer_section" id="offer_section">

    <div class="align-items-center">

      <div class="banner_title">
        <h1>{{sectionTitle}} Section</h1>
        <h3>{{sectionSubtitle}}</h3>
      </div>

      <div class="banner_curousal">
        <owl-carousel-o [options]="offerOptions" (initialized)="initialized($event)"
          (translated)="onIndexChange($event)" (dragging)="isDragging = $event.dragging" (changed)="changed($event)">
          <ng-container *ngFor="let element of mainCategory">
            <ng-template carouselSlide class="offer_curousal_imgs" [id]="element.id" [dataHash]=element.name>
              <img src="{{element.image['original']}}" alt="{{element.name}}" title=" {{element.name}}">
              <div class="category_name">
                {{element.name}}
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

      </div>

    </div>



  </section>

  <section class="product_section">

    <div class="filter_section">

      <div class="nav_path">
        <button mat-button [routerLink]=" '/' ">Home</button>
        <mat-icon *ngIf=" sectionTitle !== '' ">trending_flat</mat-icon>
        <button mat-button >{{sectionTitle}} </button>
        <mat-icon *ngIf="subCategoryName">trending_flat</mat-icon>
        <button mat-button> {{subCategoryName}} </button>
      </div>
      <div class="filter_container">


        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">
            <mat-expansion-panel-header>
              <mat-panel-title class="filter_title_top"> Refine/ Sortby </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="isFirst">


                  <mat-expansion-panel-header>
                      <mat-panel-title class="filter_title"> categories</mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngFor="let category of filterCategory" class="filter_body mat_panel">

                      <a (click)="innerCategoryRoute(category.id)" style="cursor: pointer;" class="nav_items"> {{category.name}} </a><br>
                  </div>
              </mat-expansion-panel>
          </mat-accordion>

            <mat-accordion >
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                [expanded]="isFirst">
                <mat-expansion-panel-header>
                  <mat-panel-title class="filter_title">
                    Brand
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="toggle_body mat_panel ">
                  <section class="">
                    <mat-button-toggle-group [(ngModel)]="brandValue" multiple  class="Filtertogglebutton">
                      <mat-button-toggle *ngFor="let brand of brandList" value="{{brand.name}}" (click)="filterSection()" class="Filtertogglebutton">{{brand.name}}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </section>
                  <!-- <section >
                    <mat-checkbox *ngFor="let brand of brandList" (ngModelChange)="filterbyBrand()">
                      {{brand.name}}
                    </mat-checkbox>
                  </section> -->
                </div>

              </mat-expansion-panel>
            </mat-accordion>


            <mat-accordion >
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                [expanded]="isFirst">
                <mat-expansion-panel-header>

                  <mat-panel-title class="filter_title">
                    Color
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="toggle_body mat_panel">
                  <section>

                    <mat-button-toggle-group [(ngModel)]="colorValue" class="Filtertogglebutton" multiple>
                    <mat-button-toggle *ngFor="let brand of colorList"   value="{{brand.color}}" (click)="filterSection()" >{{brand.color}}
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                  </section>
                </div>


              </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion >
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                [expanded]="isFirst">
                <mat-expansion-panel-header>
                  <mat-panel-title class="filter_title">
                    Size
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="toggle_body mat_panel">
                  <section>
                    <mat-button-toggle-group  aria-label="Font Style" [(ngModel)]="sizeValue"  class="Filtertogglebutton" multiple>
                      <mat-button-toggle *ngFor="let subtask of sizeList" value="{{subtask.size}}" (click)="filterSection()" >
                        {{subtask.size}}
                      </mat-button-toggle>
                    </mat-button-toggle-group>
                  </section>
                </div>

              </mat-expansion-panel>
            </mat-accordion>

            <form [formGroup]="form" (ngSubmit)="filterSection()" class="form_container">

              <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                  [expanded]="isFirst">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="filter_title">
                      Price
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="betweenKeyInputs">


                    <mat-form-field class="inputPrimary">
                      <input matInput type="number" formControlName="startprice">
                      <span matSuffix>{{currencyType}}</span>
                    </mat-form-field>
                    <span class="betweenlable"> to</span>
                    <mat-form-field class="inputPrimary">
                      <input matInput type="number" formControlName="endprice">
                      <span matSuffix>{{currencyType}}</span>
                    </mat-form-field>

                  </div>
                  <button mat-button type="submit" class="filter_submit_button">apply</button>

                </mat-expansion-panel>
              </mat-accordion>

            </form>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>


    <div class="preview_section">


      <div class="Tool_bar">
        <button mat-button class="mat_button" (click)="resetFilter()">
          <mat-icon>restore</mat-icon>reset
        </button>

        <span class="example-spacer"></span>
        <mat-form-field>
          <mat-select (selectionChange)="changeSorting($event.value)" value="lable">
            <mat-option value="lable" disabled="">sort by preference</mat-option>
            <mat-option value="LowToHigh">Price: Low to High</mat-option>
            <mat-option value="HighToLow">Price: High to Low</mat-option>
            <mat-option value="latest">Latest Arrivals</mat-option>
            <mat-option value="rating">Customer Review</mat-option>

          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="nonAvailableProducts === true ">
        <div class="emptyfilterResult">
          <img src="../../../../../../assets/images/undraw_empty_re_opql (1).svg" alt="">
        </div>
        <h2 class="emptyfilterResultH2">Sorry, no results found! <br> Please try something else</h2>
      </div>
      <div class="row" *ngIf="nonAvailableProducts === false ">
        <div class="col-xl-3 col-md-4 col-lg-4 col-sm-4 col-6" *ngFor="let img of dataSource$ | async">
          <div class="card">
            <img src="{{img.image['original']}}" alt="Photo of {{img.name}}" onerror ="this.src='../../../../../../assets/images/Logo_VOUI.svg' " class=""
              [routerLink]="'/previewProduct'" [queryParams]="{from:img.id}" >
            <button mat-icon-button class="banner_explore_button" (click)="addtoWishlist(img.id)" matRipple
              matRippleColor="green">
              <mat-icon>favorite_border</mat-icon>
            </button>

            <div class="card-body"   [routerLink]="'/previewProduct'" [queryParams]="{from:img.id}" >
              <div class="card-title">{{img.name}}</div>
              <div class="card-subtitle text-muted">Card subtitlle</div>
              <div>
                <b class='item' *ngIf="currencyType === 'EUR' "> €{{img['OfferEuro']}}</b>
                <b class='item' *ngIf="currencyType === 'USD' "> ${{img['OfferDollar'] }}</b>
                <b class='item' *ngIf="currencyType === 'SAR' "> SAR{{img['OfferSAR']}} </b>
                <b class='item' *ngIf="currencyType === 'GBP' ">£{{img['OfferSterling']}}</b>
                <b class='item' *ngIf="currencyType === 'AED' ">د.إ{{img['OfferDirham']}}</b>
                <span class='offer_price item' *ngIf="currencyType === 'EUR' "> €{{img['productpriceEuro']}} </span>
                <span class='offer_price item' *ngIf="currencyType === 'USD' "> ${{img['productpriceDollar'] }}</span>
                <span class='offer_price item' *ngIf="currencyType === 'SAR' "> SAR{{img['productpriceSAR']}} </span>
                <span class='offer_price item' *ngIf="currencyType === 'GBP' "> £{{img['productpriceSterling']}}</span>
                <span class='offer_price item' *ngIf="currencyType === 'AED' "> د.إ{{img['productpriceDirham']}}</span>

                <span class='offer_percentage item '
                  *ngIf="currencyType === 'EUR' ">{{img['OfferPecentageEuro']}}off</span>
                <span class='offer_percentage item '
                  *ngIf="currencyType === 'USD' ">{{img['OfferPecentageDollar']}}off</span>
                <span class='offer_percentage item '
                  *ngIf="currencyType === 'SAR' ">{{img['OfferPecentageSAR']}}off</span>
                <span class='offer_percentage item '
                  *ngIf="currencyType === 'GBP' ">{{img['OfferPecentageSterling']}}off</span>
                <span class='offer_percentage item '
                  *ngIf="currencyType === 'AED' ">{{img['OfferPecentageDirham']}}off</span>
              </div>
            </div>

          </div>

        </div>


      </div>
      <!-- <ngx-skeleton-loader [style.display]="loading ? '': 'none'" class="col-xl-3 col-lg-4 col-sm-6 col-6" count="12" animation="progress">
      </ngx-skeleton-loader> -->
      <mat-paginator *ngIf=" !nonAvailableProducts " [length]="totalItems"
        [pageSizeOptions]="[12, 15, 100]" [pageIndex]="0" aria-label="Select page">
      </mat-paginator>


    </div>

  </section>


</main>
