.main {
  background-color: #fffaf3;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #af621a;
}

::ng-deep.mat-snack-bar-container {
    color: #fffaf3;;
  background: #000;
  margin: 51px 10px !important;
  min-width: 0 !important;
  max-width: 300px !important;
}

.align-items-center {
  padding: 2em 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: var(--backgroud-color);
  h1 {
      text-align: center;
      font-family: Ogg;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 2em;
      letter-spacing: 0.05em;
      color: var(--main-color);
  }
}

a {
  color: var(--black-color);
  text-decoration: none;
}

a:hover {
  color:var(--black-color) ;
  text-decoration: underline;
  font-weight: 500;
}

.submit-container:hover {
  background-color: var(--backgroud-color);
  color: var(--black-color);
}

.submit-container {
  border: 1px solid;
  text-align: center;
  justify-self: center;
  width: 100%;
  background-color: transparent;
  border: 0.2px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: var(--black-color);
  border-radius: 50px;
}

.bottom {
  margin: 20px 0 10px 0;
}

.form_submit_button {
  color: var(--main-color);
}

mat-error,
.error {
  color: var(--main-color);
}

:host ::ng-deep.mat-form-field-ripple {
  background-color: #af621a !important;
}

:host ::ng-deep .mat-input-element {
  caret-color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
}

:host ::ng-deep .mat-form-field {
  width: 100%;
  margin-top: 20px;
}
::ng-deep.mat-form-field-wrapper {
  padding-bottom:  1.25em !important;
}
:host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: block !important;
  background-color: #af621a !important;

}

:host ::ng-deep.mat-form-field-ripple {
  background-color: var(--main-color) !important;
}

mat-error {
  color: var(--main-color);
  font-family: ogg;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 0 0 16px;
}

@media only screen and (min-width: 769px) {
   :host ::ng-deep mat-label {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.05em;
      color: var(--black-color);
  }
   :host ::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #af621a;
  }
   :host ::ng-deep.mat-form-field-ripple {
      background-color: var(--main-color) !important;
  }
  mat-error {
      color: var(--main-color);
      font-family: ogg;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 0 0 16px;
  }
  .bottom_new {
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 33px;
      letter-spacing: 0.03em;
      color: var(--black-color);
      margin-top: 10px;
      text-align: center;
  }
}

@media only screen and (max-width: 769px) {
   :host ::ng-deep .mat-form-field {
      width: 100%;
      margin-bottom: 10px;
  }
  a {
      color: var(--main-color);
      text-decoration: none;
      font-weight: 500;
  }
  .bottom_new {
      font-size: 13px;
      text-align: center;
      display: flex;
      align-self: center;
      flex-direction: column;
      justify-content: center;
      a {
          color: var(--main-color);
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
      }
  }
   :host ::ng-deep mat-label {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: var(--black-color);
  }
}
